#{extends 'main.html' /} #{set title:'Application' /}

<div class="content">
	<div class="page-header">
		<h1>
			Domaine ${domain.name}
			<button id="addApplicationButton" class="pull-right btn primary">Ajouter
				une application</button>
		</h1>
	</div>
	<div id="addApplication" class="row">
		<div class="span15">
			#{form @Application.addApp(domain.id)}
			<fieldset>
				<legend>Ajout d'une application</legend>
				<div class="clearfix">
					<label for="xlInput">Nom de l'application :</label>
					<div class="input">
						<input class="xlarge" id="xlInput" name="name" size="30" type="text" />
					</div>
				</div>
				<!-- /clearfix -->
				<div class="clearfix">
					<label for="textarea">Description de l'application :</label>
					<div class="input">
						<textarea class="xxlarge" id="description" name="description" rows="3"></textarea>
						<span class="help-block"> Block of help text to describe
							the field above if need be. </span>
					</div>
				</div>
				<!-- /clearfix -->
				<div class="actions">
					<input type="submit" class="btn primary" value="Ajouter cette application">&nbsp;
					<button type="reset" class="btn">Annuler</button>
				</div>
			</fieldset>
			#{/form}
		</div>
	</div>
	<div class="row">
		<div class="span15">
			<table>
				<thead>
					<tr>
						<th>Nom de l'application</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					#{list items:apps, as:'app'}
					<tr>
						<td><a href="@{Application.releases(app.id)}">${app.name}</a>
						</td>
						<td>${app.description}</td>
					</tr>
					#{/list}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#addApplication').hide();
	$('#addApplicationButton').click(function() {
		$('#addApplication').toggle();
	});
</script>

